# ==============================
# CodeIgniter 4
# ==============================

# Logs
writable/logs/*
!writable/logs/index.html
!writable/logs/.htaccess

# Cache
writable/cache/*
!writable/cache/index.html
!writable/cache/.htaccess

# Sessions
writable/session/*
!writable/session/index.html
!writable/session/.htaccess

# Uploads (opsional)
writable/uploads/*
!writable/uploads/index.html
!writable/uploads/.htaccess

# ==============================
# Composer Vendor
# ==============================
/vendor/

# ==============================
# Development
# ==============================
/.env
/phpunit.xml
/build/
